* {
    box-sizing: border-box;
}

body { 
    font-family: poppins system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image:  url('/img/bookshop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    color: rgb(61, 59, 59);
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: auto;
}

table{
margin-top: 50px;
}

table, th, td {
    border:1px solid lightgrey;
    width: max-content;
    border-radius: 10px;
    padding: 5px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
}

th {
    
    background-color: rgba(0, 0, 0, 0.25);
}

td{
    background-color: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.1);
}

button {
font-weight: bold;
border-radius: 5px;
border: none;
font-size: 1em;
border-radius: 15px;
background-color: #91bdd4;
color: rgb(42, 47, 49);
box-shadow: -7px 5px rgb(68, 73, 75);
}

button.read {
    background-color: #4fbbf4;
}

button.update {
    background-color: #edc756;
}

button.delete {
    background-color: #ef7f1c;
}

button.add {
    margin-top: 30px;
    background-color: #f175c8;
   
}

.book-modal {
    padding: 20px;
    background-color: rgba(168, 190, 197, 0.7);
    border-radius: 20px;
    border-color: rgba(99, 93, 93, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: -7px 5px rgb(68, 73, 75);
    margin: auto ;
    min-width: 650px;
    place-items: center;
}

.book-cover{
    margin: 30px;
    border-radius: 20px;
    box-shadow: -7px 5px rgb(243, 246, 247);
    width: 530px;
    
}

.book-details-container{
display: grid;
}

.book-modal h3 {
    margin: 0 27px;
}
.book-modal button.close {
    position: absolute;
    right: 25px;
}
.book-modal .price-tag {
    margin-left: 27px;
   color: rgb(77, 74, 74);
   font-size: 25px;
}

input {
    border: 0;
    border-radius: 6px;
    height: 35px;
    font-size: 25px;
    background-color: aliceblue;
}

.book-modal-container {
    position: relative;
    margin: 60px;
    
}

.hide{
    display: "none";
}

.filter-input{
    margin-bottom: 20px; 
}

footer {
    font-size: .75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10px;
    margin-bottom: 15px;
    padding: 0.5em;
    background-color: rgba(173, 216, 230, 0.5);
}


/*********/
/* cards */
/*********/

.card-area{
    display: grid;
    column-gap: 40px;
    grid-template-rows: 1fr;
    margin-top: 50px;
}

.card{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(173, 216, 230, 0.5);
    min-width: 300px;
    height: 100%;
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transform: transform 0.5s;
}

.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, rgb(173, 216, 230) 60%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    font-weight: bold;
}

.overlay h3{
    margin-bottom: 0px;
    margin-top: 25%;
    font-family: bebas neue;
    font-size: 30px;
    letter-spacing: 2px;
}

.overlay a{
    margin-top: 10px;
    color: rgb(43, 40, 40);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background: white;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px; 
}

.card:hover img{
    transform: scale(1.2);
}

.card:hover .overlay{
    height: 100%;
}

.button-group a {
    display: inline-block;
    margin-right: 10px; 
}

div.rating {
    display: flex;
    align-items: center;
    margin-left: 45%;
}

span.book-rating {
    width:60px;
    text-align: center;
}