* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image:  url('/img/bookshop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    color: rgb(61, 59, 59);
    font-size: 2em;
}

table, th, td {
    border:1px solid lightgrey;
    width: max-content;
    border-radius: 10px;
    padding: 5px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
}

th {
    
    background-color: rgba(0, 0, 0, 0.25);
}

td{
    background-color: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.1);
}

button {
font-weight: bold;
border-radius: 5px;
border: none;
font-size: 1em;
border-radius: 15px;
color: rgb(42, 47, 49);
box-shadow: -7px 5px rgb(68, 73, 75);
}

button.read {
    background-color: #4fbbf4;
}

button.update {
    background-color: #edc756;
}

button.delete {
    background-color: #ef7f1c;
}

button.add {
    margin-top: 30px;
    background-color: #ef1ca9;
   
}